.image{
	height:170px;
	border-radius:5px;
	box-shadow: 5px 5px 5px #888888;
}

body{
	background-image:url('../img/upfeathers.png');
	color:white;
}

#list{
	magin:100px;
}

.list-group-item{
	background-image:url('../img/concrete_wall.png');
}

.gimage{
	height:300px;
	width:640px;
}

.navbar{
	margin:0px;
	ackground-color:#33A1C9;
	background-image:url('../img/concrete_wall.png');
	color:white;
}


.navbar-default .navbar-brand{
	margin-left:15px;
	color:white;
}
.navbar-default .navbar-brand:hover{
	color:white;
}

.navbar-default .navbar-nav>li>a{
	color:white;
}
.navbar-default .navbar-nav>li>a:hover{
	color:white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color:#00688B;
	color:white;
}

#details{
	color:black;
}

img {
  background: url(../img/loading.gif) 50% no-repeat;
}

.detailsrow{
	background-image:url('../img/p.png');
}

a{
	color:white;
}

a:hover{
	color:white;
}
