.proj{
	height:200px;
	border-style: solid;
	border-color:#333;
	
}

.navbar{
	margin:0px;
	border-radius:0px;
}

.navbar-default{
	background-color:#1F1F1F;
	border-color:#1F1F1F;
}

.navbar-default .navbar-brand{
	color:white;
}

.navbar-default .navbar-brand:hover{
	color:white;
}

.navbar-default .navbar-brand:active{
	color:white;
}

.navbar-default .navbar-nav>li>a{
	color:white;
}

.navbar-default .navbar-nav>li>a:hover{
	color:#00B2EE;
}

.listrow{
	
}

.btn-default{
		background-color:#551A8B;
		border-color:#551A8B;
		color:white;
}

.btn-default:hover{
		background-color:#7D26CD;
		border-color:#7D26CD;
		color:white;
}

.btn-default:active{
		background-color:#7D26CD;
		border-color:#7D26CD;
		color:white;
}

/*.navbar-nav>li{
	border:solid;
	border-color:#551A8B;
	border-radius:4px;
	border-width:2px;
	background-color:#1F1F1F;
}

.navbar-nav>li:hover{
	border-color:#551A8B;
}*/

.progress{
	height:8px;
	width:300px;
	margin-bottom:0px;
	background-color:#EE0000;
}

#list{
  margin-top: 3%;
}

.navbar-form{
	width:100%;
}

.navbar-form .input-group .form-control, .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn{
	width:350px;
}

.user{
	padding:3px;
	background-color:#551A8B;
	border-color:#551A8B;
	color:white;
}

.user:hover{
	padding:2px;
	background-color:#551A8B;
	border-color:#551A8B;
	color:#00B2EE;
}

/*.navbar-nav>li>a{
	padding-top:10px;
	padding-bottom:10px;
}*/

.loading{
	position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
}

iframe{
  display: block;
  margin: auto;
}

.million{
  color: #104E8B;
}

.thousand{
  color: #EE2C2C;
}

.dropdown-menu-right{
  margin-left: 42%;
  right: 42%;
}