<!DOCTYPE html>

<html lang="en" ng-app="ytSearch">
  <head>
    <title>YouTube</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body ng-controller="ytSearchCtrl" ng-init="init()">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script src="js/angular.min.js"></script>
    <script src="ytSearch.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:600'
      rel='stylesheet' type='text/css'>

    <!--       Navbar      -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a ng-click="goBack()" href="#" ng-if="playing"><span class="glyphicon glyphicon-chevron-left
            leftArrow navbar-brand" aria-hidden="true"></span></a>
          <a class="navbar-brand" ng-click="getPopular(false)" href="index.html" id="home">{{title}}</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse searchBar">
    		  <ul class="nav navbar-nav navbar-left">
      			<form class="navbar-form" role="search">
        			<div class="input-group">
        				<input type="text" class="form-control" placeholder="Search" ng-model="searchString"
                ng-change="loadSuggestions()" required list="suggestionsList">
        				<datalist id="suggestionsList">
                    <option ng-repeat="suggestion in suggestions track by $index" value="{{suggestion[0]}}">
                    </option>
        				</datalist>
        				<div class="input-group-btn">
        					<button class="btn btn-default" ng-click="go()" type="submit">Go</button>
        				</div>
        			</div>
      			</form>
    			</ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://accounts.google.com/o/oauth2/
            auth?scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fyoutube
            &response_type=token&redirect_uri=http://chaitanyavootla.github.io/
            &client_id=795154105784-s8rp792eujti7l45m4044qffvbl02r6d.apps.googleusercontent.com
            &pageId=none" id="loginid">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!--        Main Content       -->

    <ul class="list-group" id="list">

      <li class="list-group-item nopadding-bottom" style="padding-top: 3px; padding-bottom:0px">
        <h3 align="center">Search results for
        <span style="color: #551A8B">'{{prevSearch}}'</span>
        </h3>
        <h5 align="center">
          {{getResultsCount(totalResults)}} results
        </h5>
      </li>

      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
          <div align="center" ng-click="search(false,'viewCount'); setClass('popular')" class="{{popularClass}}">
            popular
          </div>
        </div>
        <div class="col-md-2">
          <div align="center" class="mainTab">
            hybrid
          </div>
        </div>
        <div class="col-md-2">
          <div align="center" ng-click="search(false,'relevance'); setClass('relevance')"
            class="{{relevanceClass}}">
            relevance
          </div>
        </div>
        <div class="col-md-2">
          <div align="center" ng-click="search(false,'date'); setClass('date')" class="{{dateClass}}">
            date
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
      <hr style="margin: 5px;">
      <li ng-repeat="item in results" class="list-group-item" ng-if="!loading">
        <div class="row itemrow">

          <div class="col-md-3 item">
            <div id="player{{item[0].id}}" align="center">
              <img src="{{item[0].snippet.thumbnails.high.url}}"
                ng-click="play(item[0])" class="ytImage" height="250" width="333.333">
            </div>
          </div>

          <div class="col-md-3 item-right">
            <h4>
              <a href='https://youtube.com/watch?v={{item[0].id}}' target="_blank">
                {{item[0].snippet.title}}
              </a>
            </h4>
            <h5>
              <a href='https://youtube.com/channel/{{item[0].snippet.channelId}}' target="_blank">
                {{item[0].snippet.channelTitle}}
              </a>
            </h5>
            <h5>
              {{getUploadDate(item[0].snippet.publishedAt)}}
            </h5>
            <h5>
              Views: <b id="views-{{item[0].id}}">
              {{getViewCount(item[0].statistics.viewCount,item[0].id)}}</b>
            </h5>
            <div class="progress" data-toggle="tooltip" data-placement="right"
              title="{{getLd(item[0].statistics)}}%">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                aria-valuemax="100" style="width: {{getLd(item[0].statistics)}}%" id="ld-{{item[0].id}}">
              </div>
            </div>
            <h5>
              <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
              {{item[0].statistics.commentCount}}
            </h5>
            <h5>
              <h4><span class="glyphicon glyphicon-time" aria-hidden="true"></span>
              {{getTime(item[0].contentDetails.duration)}}</h4>
              <h3 class="hc">
                <span ng-if="item[0].contentDetails.definition === 'hd'"
                class="glyphicon glyphicon-hd-video" aria-hidden="true"></span>
                <span ng-if="item[0].contentDetails.caption === 'true'"
                class="glyphicon glyphicon-subtitles" aria-hidden="true"></span>
              </h3>
            </h5>
          </div>

          <div class="col-md-3 item">
            <div id="player{{item[1].id}}" align="center">
              <img src="{{item[1].snippet.thumbnails.high.url}}"
                ng-click="play(item[1])" class="ytImage" height="250" width="333.333">
            </div>
          </div>

          <div class="col-md-3 item-right">
            <h4>
              <a href='https://youtube.com/watch?v={{item[1].id}}' target="_blank">
                {{item[1].snippet.title}}
              </a>
            </h4>
            <h5>
              <a href='https://youtube.com/channel/{{item[1].snippet.channelId}}' target="_blank">
                {{item[1].snippet.channelTitle}}
              </a>
            </h5>
            <h5>
              {{getUploadDate(item[1].snippet.publishedAt)}}
            </h5>
            <h5>
              Views: <b id="views-{{item[1].id}}">{{getViewCount(item[1].statistics.viewCount,item[1].id)}}</b>
            </h5>
            <div class="progress" data-toggle="tooltip" data-placement="right"
              title="{{getLd(item[1].statistics)}}%">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                aria-valuemax="100" style="width: {{getLd(item[1].statistics)}}%" id="ld-{{item[1].id}}">
              </div>
            </div>
            <h5>
              <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
              {{item[1].statistics.commentCount}}
            </h5>
            <h5>
              <h4><span class="glyphicon glyphicon-time" aria-hidden="true"></span>
              {{getTime(item[1].contentDetails.duration)}}</h4>
              <h3 class="hc">
                <span ng-if="item[1].contentDetails.definition === 'hd'"
                class="glyphicon glyphicon-hd-video" aria-hidden="true"></span>
                <span ng-if="item[1].contentDetails.caption === 'true'"
                class="glyphicon glyphicon-subtitles" aria-hidden="true"></span>
              </h3>
            </h5>
          </div>

        </div>
      </li>
      <li class="list-group-item" id="more" ng-click="search(true)" ng-if="!loading">
        <div align="center">
          <button class="btn btn-default">Load More</button>
        </div>
      </li>
    </ul>
    <div ng-if="loading">
      <img src="img/rolling (1).svg" class="loading">
    </div>
  </body>
</html>
